/* cuerpo de la pagina */
body {
    background: linear-gradient(to bottom, #201F40 30%, #000000 100%);
    color: #E0E0E0; 
    margin: 0;
    padding: 0;
    font-family: Consolas, monospace;

}

/* Título principal */
#titulo {
    color: #9b59b6;
    font-family: Consolas, monospace;
    text-align: center;
    margin-top: 20px;
    text-shadow: 0 0 10px #9b59b6;
    font-size: 3rem;
}

/* Subtítulos */
h3 {
    color: #00FF41; 
    font-family: Consolas;
    margin-bottom: 10px;
    text-shadow: 0 0 5px #00FF41;
}

/* Encabezados secundarios */
h2 {
    color: #FF119B; 
    font-family: Consolas;
    margin-top: 30px;
    text-shadow: 0 0 5px #FF119B;
}

/* Párrafos */
p {
    font-family: 'Lucida Console', monospace;
    line-height: 1.5;
    margin: 5px 0;
}

.texto-centrado {
    text-align: center;
}
/* Videos embebidos */
video {
    display: block;
    margin: 20px auto;
    border: 3px solid #9b59b6;
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    box-shadow: 0 0 15px #9b59b6; /* glow  */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
/* Efecto hover */
.video-container video:hover {
    transform: scale(1.02);
    box-shadow: 0 0 40px #ff119b;
}

.scratch-container {
    text-align: center;
    margin: 30px 0;
}

    .scratch-container iframe {
        border: 4px solid #9b59b6; /* color violeta gamer */
        border-radius: 12px; /* esquinas redondeadas */
        box-shadow: 0 0 25px #9b59b6; /* glow violeta */
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

        /* Efecto hover */
        .scratch-container iframe:hover {
            transform: scale(1.02); /* zoom suave */
            box-shadow: 0 0 40px #ff119b; /* glow más intenso al pasar el mouse */
        }


.subtitulo:nth-of-type(odd) {
    text-align: left;
}

.subtitulo:nth-of-type(even) {
    text-align: right;
}
/* Subtítulos fijos (como Culpa v1/v2) */
.subtitulo-fijo {
    text-align: left; 
}
.hipervinculo {
    color: #FF119B; 
    text-decoration: none; 
    font-weight: bold; 
    transition: color 0.3s ease, text-shadow 0.3s ease, font-style 0.3s ease;
}

    .hipervinculo:hover {
        color: #ffffff; 
        text-shadow: 0 0 10px #FF119B; 
        font-style: italic; 
    }